<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have a order from  <%= @order.name %></h1>
    <p>
      E-mail: @order.email
    </p>
    <p>
      Phone: @order.phone
    </p>
    <p>
      Item: @order.product_id
    </p>
  </body>
</html>